[submodule "cosmic_watch"]
	path = cosmic_watch
	url = https://github.com/spenceraxani/CosmicWatch-Desktop-Muon-Detector.git
[submodule "Plastic and crystal muon detector/cosmic_watch_v3X"]
	path = Plastic and crystal muon detector/cosmic_watch_v3X
	url = https://github.com/spenceraxani/CosmicWatch-Desktop-Muon-Detector-v3X.git
